.social-block {
  display: inline-block;

  &__item {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__link {
    @include inline-flex;
    @include align-items(center);
    @include shift;

    &:hover {
      opacity: .8;

      .social-block__text {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &_color_white {

    .social-block__text {
      color: #fff;
    }
  }
}

@media #{$sm} {
  @import "media/sm";
}

@media (max-width: 440px) {
  @import "media/xs";
}