.contacts {
  font-size: 1.6rem;
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 45px;
  }

  &__item {
    @include flexbox;
    @include align-items(center);

    &:hover {

      .contacts__text {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__icon {
    margin-right: 8px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
  }

  &__text {
    display: inline-block;
    line-height: 21px;

    &_time-range {
      width: 78%;
    }
  }

  &_color_white {

    .contacts__text {
      color: #fff;
    }
  }

  &_mode_only-read {

    .contacts__text {
      pointer-events: none;
      cursor: default;
    }

    .contacts__item:hover {

      .contacts__text {
        text-decoration: none;
      }
    }
  }
}

@media #{$lg} {
  @import "media/lg";
}

@media #{$sm} {
  @import "media/sm";
}

@media #{$xsm} {
  @import "media/xsm";
}