html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
  // prevent resizing window to mobile width
  min-width: 1200px;
  margin: auto;
}

.content {
  @include flex;
  overflow: hidden;
}

.container {
  width: $lg-wrap;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin: 0 auto;

  /*@media #{$lg} {
    width: $md-wrap;
  }

  @media #{$md} {
    width: $sm-wrap;
  }

  @media #{$sm} {
    width: $xs-wrap;
  }*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $black-soft;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black-soft;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
