html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
}

.content {
  @include flex;
  overflow: hidden;
}

.container {
  width: $lg-wrap;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin: 0 auto;

  @media #{$lg} {
    width: $md-wrap;
  }

  @media #{$md} {
    width: $sm-wrap;
  }

  @media #{$sm} {
    width: $xs-wrap;
  }
}

.content-aligned-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $black-soft;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black-soft;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-paragraph {
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item-bordered {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

.text-cursive {
  font-style: italic;
}

.hide-on-smart {

  @media #{$sm} {
    display: none;
  }
}

.show-on-smart {
  display: none;

  @media #{$sm} {
    display: block;
  }
}