html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  @include flexbox;
  @include flex-direction(column);
  height: 100%;
}

.content {
  @include flex;
  position: relative;
}

.container {
  width: $lg-wrap;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin: 0 auto;

  @media #{$lg} {
    width: $md-wrap;
  }

  @media #{$md} {
    width: $sm-wrap;
  }

  @media #{$sm} {
    width: $xs-wrap;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $black-soft;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}
