.compensate-for-scrollbar {
  padding-right: 15px;
}

.slick-slider * {
  outline: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider-wrapper {
  position: relative;
}

.slick-arrow {
  z-index: 55;
}

.slider-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .prev, .next {
    width: 8px;
    height: 14px;
    cursor: pointer;
  }

  $arrow-distance: 10px;

  .prev {
    background: url("/images/icons/slider/arrow-left.svg") no-repeat;
    margin-right: $arrow-distance;
  }

  .next {
    background: url("/images/icons/slider/arrow-right.svg") no-repeat;
    margin-left: $arrow-distance;
  }

  .dot {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $black;
    margin: 0 5px;

    &.active {
      background-color: $active-orange;
    }
  }
}

.slick-prev, .slick-next {
  &:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 18px;
  }
}

.slick-dots {

  li {
    @include slick-dots-custom-color($active-orange);
  }
}

.slick-prev:before {
  background: url('/images/icons/slider/arrow-left_bold.png') no-repeat;
}

.slick-next:before {
  background: url('/images/icons/slider/arrow-right_bold.png') no-repeat;
}

.custom-controls {
  width: 100%;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  position: absolute;
  bottom: 0;

  .slick-dots {
    position: relative;
    bottom: unset;
  }

  &__btn {
    @include inline-flex;
    cursor: pointer;
    width: 12px;
  }

  $arrow-btn-indent: 43px;

  &__prev {
    margin-right: $arrow-btn-indent;
  }

  &__next {
    margin-left: $arrow-btn-indent;
  }
}