.reply-groups {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-top: 15px;
  margin-bottom: 25px;
  $super-parent: &;

  @media #{$md} {
    @include justify-content(space-between)
  }

  @media #{$xsm} {
    padding: 0 25px;
  }

  &--column {
    #{$super-parent}__item {
      margin-right: 0;
    }
  }

  &__item {
    $lg-margin-offset: 90px;

    margin-right: 56px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    @media #{$lg} {
      margin-right: $lg-margin-offset;
    }

    @media #{$md} {
      margin-right: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;

      @media #{$lg} {
        margin-right: $lg-margin-offset;
      }

      @media #{$md} {
        margin-right: 0;
      }
    }

    &:nth-child(3n) {

      @media #{$lg} {
        margin-right: 0;
      }
    }

    &:nth-child(2n) {

      @media #{$md} {
        margin-right: 0;
      }
    }
  }
}

.reply-card {
  display: inline-block;
  box-shadow: $base-shadow;
  width: 250px;
  min-height: 185px;
  border-radius: 30px;
  padding: 30px 16px 40px 30px;
  position: relative;

  @media #{$md} {
    width: 320px;
  }

  @media #{$sm} {
    width: 290px;
  }

  @media #{$xsm} {
    width: 100%;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__content {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    max-height: 100px;
    line-height: 1.4;
    overflow-y: auto;
    overflow-x: hidden;

    @media #{$xsm} {
      max-height: 250px;
    }
  }

  &__footer {
    width: calc(100% - 47px);
    @include flexbox;
    @include justify-content(space-between);
    position: absolute;
    bottom: 24px;
  }

  &__social {
    line-height: 20px;
  }
}