.color-picker {
  @include flexbox;
  @include flex-wrap(wrap);

  &__item {
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    -webkit-overflow-scrolling: touch;

    &:not(:nth-child(6n)) {
      margin-right: 14px;
    }

    &.checked {

      &::after, &::before {
        display: block;
      }
    }

    &:hover {

      &::before {
        display: block;
      }
    }

    &::after, &::before {
      content: '';
      display: none;
    }

    &::after {
      width: 14px;
      height: 10px;
      background: url("/images/icons/checked.svg") no-repeat;
    }

    &::before {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      position: absolute;
      border: 2px solid #fa6400;
    }
  }
}