@import "./filter-radio/styling";
@import "./filter-checkbox/styling";
@import "./price-range/styling";
@import "./color-picker/styling";
@import "./filter-row/styling";

.filter-block {
  position: relative;

  @media #{$sm} {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 76;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(.4);
    transition: transform 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    pointer-events: none;
    overflow: hidden;
  }

  &:before {
    content: '';
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 75;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    will-change: opacity;
    transition:  opacity 440ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    pointer-events: none;
  }

  &--active {

    @media #{$sm} {
      transform: scale(1);
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }

    &:before {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__content {
    background: #ffffff;
    border-radius: 13px;

    @media #{$sm} {
      width: 250px;
      max-width: 100%;
      height: calc(100% - 40px);
      padding: 15px 18px 20px;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 20px auto;
      z-index: 77;
      position: relative;
    }

  }

  &__item {
    margin-bottom: 15px;
  }

  .main-title {

    @media #{$xs} {
      @include justify-content(flex-start);
    }

    &.filter-block__main-title {
      @media #{$xs} {
        @include justify-content(center);
      }
    }
  }

  &__main-title {
    display: none;
    @include justify-content(center);
    position: relative;
    width: 86%;
    margin: 0 auto 10px;
    font-weight: 700;

    @media #{$sm} {
      @include flexbox;
    }
  }

  &__btn-reset {
    margin-top: 10px;

    @media #{$sm} {
      width: 100%;
      border: none;
    }
  }

  &__btn-close {
    position: absolute;
    right: -13px;
  }

  .button_type_show-more {
    border: none;
    margin-top: 10px;
  }
}