.dual-block {
  @include flexbox;

  &__item {
    width: 49%;
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 58px;
    }
  }

  &_look-book {

    .dual-block__item {

      &:nth-child(1) {
        width: calc(100% - 397px);
      }

      &:nth-child(2) {
        width: 347px;
      }

      &:not(:last-child) {
        margin-right: 52px;
      }
    }
  }

  &_catalog {
    margin-bottom: 80px;

    .dual-block__item {

      &:nth-child(1) {
        width: 219px;
      }

      &:nth-child(2) {
        width: 74%;
      }

      &:not(:last-child) {
        margin-right: 89px;
      }
    }
  }

  &_product-card {

    .dual-block__item {

      &:nth-child(1) {
        width: 470px;
      }

      &:nth-child(2) {
        width: calc(100% - 500px);
      }

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &_profile-info {

    .dual-block__item {

      &:nth-child(1) {
        width: calc(100% - 509px);
      }

      &:nth-child(2) {
        width: 363px;
      }
    }
  }

  &_basket-page {

    .dual-block__item {

      &:nth-child(1) {
        padding-right: 98px;
      }
    }
  }

  &_last-action {
    @include align-items(center);

    .dual-block__item {

      &:nth-child(1) {
        width: 170px;
        margin-right: 20px;
      }

      &:nth-child(2) {
        width: calc(100% - 190px);
      }
    }
  }

  p {
    line-height: 24px;
  }
}