.dual-block {
  @include flexbox;

  &__item {
    width: 49%;
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 58px;
    }
  }

  &_look-book {

    .dual-block__item {

      &:nth-child(1) {
        width: calc(100% - 397px);
      }

      &:nth-child(2) {
        width: 347px;
      }

      &:not(:last-child) {
        margin-right: 52px;
      }
    }
  }

  p {
    line-height: 24px;
  }
}