.cards-view {
  @include flexbox;

  &__item {
    @include inline-flex;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover, &:active {
      .cards-view__icon {
        background-color: $active-orange;
        opacity: .6;
      }
    }

    &--active {

      &:hover {
        .cards-view__icon {
          opacity: 1;
        }
      }

      .cards-view__icon {
        background-color: $active-orange;
      }
    }
  }

  &__icons {
    margin-right: 10px;
    height: 12px;

    &--poly {

      .cards-view__icon {
        width: 7px;
      }
    }
  }

  &__icon {
    height: inherit;
    display: inline-block;
    width: 10px;
    border-radius: 2px;
    background-color: #d8d8d8;
  }

  &__label {
    line-height: 0.95;
  }
}