.product-view {
  @include flexbox;

  &:not(.product-view_small) {

    @media #{$xsm} {
      @include flex-direction(column-reverse);
      align-items: center;
    }
  }

  &__img {
    overflow: hidden;
    border-radius: 3px;
    @include cover-background;
  }

  &__parts {
    width: 75px;
    margin-right: 15px;

    @media #{$xsm} {
      width: auto;
      margin-right: 0;
      margin-top: 10px
    }

    .product-view__img {
      width: 75px;
      height: 75px;

      @media #{$xsm} {
        display: inline-block;
        vertical-align: top;
      }

      &:not(:last-child) {
        margin-bottom: 15px;

        @media #{$xsm} {
          margin-right: 10px
        }
      }
    }
  }

  &__full {
    width: calc(100% - 90px);
    position: relative;

    @media #{$xs} {
      width: 100%;
    }

    .product-view__img {
      height: 570px;
      max-height: 570px;

      @media #{$xsm} {
        height: 400px;
        max-height: 400px;
      }
    }

    .has-slider_only-arrows:not(.slick-initialized) {
      max-height: 570px;
      overflow: hidden;

      @media #{$xsm} {
        max-height: 400px;
      }
    }

    .has-slider_only-arrows.slick-initialized {
      max-height: inherit;
    }
  }

  &__btn-expand {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 15;

    .button {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  &_small {

    .product-view__full {
      width: 250px;

      .product-view__img {
        height: 375px;
        max-height: 375px;
      }
    }

    .product-view__btn-expand {
      bottom: calc(100% - 366px);
      right: 10px;
    }
  }

  .slick-dots {
    bottom: -31px;

    li {
      @include slick-dots-custom-color($black, border, transparent, $black, 12);
    }
  }

  @include slick-arrows-inside;
}