.check-block {

  &__label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 24px;
    @include inline-flex;
    @include align-items(center);
    user-select: none;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #323232;
      border-radius: 3px;
      background: #fff;
    }

    &:after {
      content: '';
      width: 14px;
      height: 10px;
      background: url("/images/icons/checkbox-icon/check-icon.svg") no-repeat;
      position: absolute;
      left: 3px;
      @include shift(cubic-bezier(0.4, 0, 0.05, 2.35), 264ms);
    }

    &:hover {

      &:before {
        border-color: $active-orange !important;
      }
    }
  }

  &__input {

    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    &:checked + .check-block__label {
      font-weight: 500;
    }

    &:not(:checked) + .check-block__label:after {
      opacity: 0;
      -webkit-transform: scale(2);
      transform: scale(2);
    }

    &:checked + .check-block__label:after {
      opacity: 1;
      -webkit-transform: scale(.9);
      transform: scale(.9);
    }
  }

  &_size_sm {
    font-size: 1.2rem;

    .check-block__label {
      line-height: 16px;
    }
  }

  &_box-grey {

    .check-block__label::before {
      border-color: #c8c8c8;
    }
  }
}