.dual-block {
  @include flexbox;

  &__item {
    width: 49%;
    margin-bottom: 30px;

    @media #{$md} {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 58px;
      
      @media #{$lg} {
        margin-right: 20px;
      }

      @media #{$md} {
        margin-right: 0;
      }
    }
  }

  &_info-cards {

    @media #{$md} {
      @include flex-wrap(wrap);
    }
  }

  &_look-book {

    .dual-block__item {

      &:nth-child(1) {
        width: calc(100% - 397px);
      }

      &:nth-child(2) {
        width: 347px;
      }

      &:not(:last-child) {
        margin-right: 52px;
      }
    }
  }

  &_catalog {

    .dual-block__item {

      &:nth-child(1) {
        width: 219px;

        @media #{$sm} {
          width: 0;
        }
      }

      &:nth-child(2) {
        width: 74%;

        @media #{$sm} {
          width: 100%;
        }
      }

      &:not(:last-child) {
        margin-right: 89px;

        @media #{$lg} {
          margin-right: 50px;
        }

        @media #{$md} {
          margin-right: 40px;
        }

        @media #{$sm} {
          margin-right: 0;
        }
      }
    }
  }

  &_product-card {

    @media #{$md} {
      @include flex-direction(column);
    }

    .dual-block__item {

      &:nth-child(1) {
        width: 470px;

        @media #{$md} {
          width: 100%;
          padding-right: 100px;
          padding-left: 100px;
        }

        @media #{$xsm} {
          padding-right: 70px;
          padding-left: 70px;
        }

        @media (max-width: 580px) {
          padding-right: 20px;
          padding-left: 20px;
        }

        @media #{$xs} {
          padding-right: 0;
          padding-left: 0;
        }
      }

      &:nth-child(2) {
        width: calc(100% - 500px);

        @media #{$md} {
          width: 100%;
        }
      }

      &:not(:last-child) {
        margin-right: 30px;

        @media #{$md} {
          margin-right: 0;
        }
      }
    }
  }

  &_profile-info {

    .dual-block__item {

      &:nth-child(1) {
        width: calc(100% - 509px);
      }

      &:nth-child(2) {
        width: 363px;
      }
    }
  }

  &_basket-page {

    @media #{$md} {
      @include flex-direction(column);
    }

    .dual-block__item {

      &:nth-child(1) {
        padding-right: 98px;

        @media #{$lg} {
          padding-right: 0;
        }
      }

      @media #{$lg} {
        margin-right: 33px;
      }

      @media #{$md} {
        margin-right: 0;
      }
    }
  }

  &_last-action {
    @include align-items(center);

    @media #{$xsm} {
      @include flex-direction(column-reverse);
    }

    .dual-block__item {

      &:nth-child(1) {
        width: 170px;
        margin-right: 20px;

        @media #{$xsm} {
          width: 100%;
          margin-right: 0;
        }
      }

      &:nth-child(2) {
        width: calc(100% - 190px);

        @media #{$xsm} {
          width: 100%;
        }
      }

      .button {

        @media #{$xs} {
          min-width: 100%;
        }
      }
    }
  }

  p {
    line-height: 24px;
  }
}