.discount-label {

  &__img {
    width: auto!important;
    display: inline-block!important;
    vertical-align: middle;
  }

  &__price {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
  }
}