.header {
  margin: 45px 0;
  overflow: hidden;
  @include font-size(16);
  font-weight: 500;

  &__logo {
    margin-top: 15px;
    float: left;
  }

  &__info {
    margin-left: 69px;
  }

  &__item {
    @include flexbox;
    @include justify-content(space-between);

    &:not(:last-child) {
      margin-top: 30px;
    }
  }
}