.header {
  margin: 45px 0 39px;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 500;

  &__items {
    @include flexbox;
  }

  &__logo {
    width: 22%;
  }

  &__lang-switcher {
    margin-bottom: 15px;
  }

  &__info {
    margin-left: 12%;
    margin-top: 10px;
    width: 69%;
  }

  &__item {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 37px 0 50px;
  }
}