.header {
  padding-top: 45px;
  font-size: 1.6rem;
  font-weight: 500;

  &__items {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  &__logo {
    width: 22%;
  }

  &__lang-switcher {
    margin-bottom: 15px;
  }

  &__info {
    margin-left: 11.5%;
    margin-top: 10px;
    width: 66%;
  }

  &__item {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    @include flex-wrap(wrap);
    min-height: 24px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__title {
    width: 80%;
    margin: 37px 0 50px;

    img {
      width: 100%;
    }
  }

  .contacts {
    width: auto;
  }

  .social-block {
    width: calc(100% - 250px);
    margin-top: 5px;

    &__item {
      margin-bottom: 5px;
    }
  }
}

@media #{$lg} {
  @import "media/lg";
}

@media #{$md} {
  @import "media/md";
}

@media #{$sm} {
  @import "media/sm";
}