.breadcrumb {
  color: #000000;
  margin: 65px 0 40px;
  overflow: hidden;

  &__item {
    float: left;

    &:not(:first-child) {
      margin-left: 5px;

      &::before {
        content: '\002F';
        display: inline-block;
        color: $black;
        padding-right: 5px;
      }
    }

    &.visiting {
      color: $active-orange;
    }
  }

  &__icon {
    margin-right: 6px;
    vertical-align: bottom;
  }
}