.substrate {

  &__sm {

    &_left .substrate__item{
      transform: translateX(-84%);
    }
  }


  &__lg {

    &_left .substrate__item {
      transform: translateX(-79.5%);
    }

    &_right .substrate__item {
      transform: translateX(23%);
    }

    &_header .substrate__item{
      transform: translate(11%, -44%);
    }
  }

  &_with-slider .substrate__item {
    transform: translate(11%, -19%);
  }
}