.share-social {
  min-height: 25px;
  @include flexbox;
  @include align-items(center);

  &__content {
    min-height: inherit;
    @include inline-flex;
    @include align-items(center);
  }

  &__label {
    margin-right: 10px;
    font-weight: 500;
  }

  &__icon {
    margin-right: 15px;
  }
}