.footer {
  flex: 0 0 auto;
  background-color: #606060;
  padding: 39px 0;

  &__items {
    @include flexbox;
  }

  &__info {
    width: 74%;
    margin-left: 66px;
  }

  &__item {
    width: 100%;
    @include flexbox;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__nav {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 43px;

    td {
      padding-right: 45px;
      padding-bottom: 10px;

      a {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
        @include shift;

        &.current {
          color: $active-orange;
        }

        &:hover {
          color: $active-orange;
        }
      }
    }
  }

  &__btn {
    margin-left: auto;
  }

  &__schedule {
    width: 28%;
  }

  &__copyright {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
    line-height: 25px;
    margin-left: auto;
    float: right;
  }
}

@media #{$lg} {
  @import "media/lg";
}

@media #{$md} {
  @import "media/md";
}

@media #{$sm} {
  @import "media/sm";
}

@media #{$xsm} {
  @import "media/xsm";
}