.navigation-back {
  display: none;
  border-bottom: 1px solid #323232;

  @media #{$sm} {
    display: block;
    margin-bottom: 20px;
  }

  &__items {
    @include flexbox;
    @include align-items(center);
    height: 40px;
  }

  &__title {
    margin-left: 8px;
    color: #1e1e1e;
    font-weight: 500;
  }

  &__icon {
    padding: 12px;
    margin-left: -11px;
  }

  &__item-right {
    margin-left: auto;
  }
}