.footer {
  border-top: 5px solid #fa6400;
  padding: 39px 16px 30px;

  &__info {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);
  }

  &__item {
    width: auto;
    @include flexbox;
  }

  &__schedule {
    width: auto;
  }

  &__copyright {
    order: 2;
    margin-right: auto;
    float: none;
    display: block;
  }

  &__btn {
    margin: 30px auto 15px;
  }

  &__nav {
    width: 100%;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
    order: 1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    a {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
}
