.product-card {
  box-shadow: $base-shadow;
  border-radius: 5px 5px 30px;
  background-color: #ffffff;
  display: inline-block;
  @include shift(ease-in-out);
  width: 250px;
  position: relative;

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-weight: 500;
    min-height: 15px;
    max-height: 42px;
    line-height: 21px;
    @include ellipsis(2);

    @media #{$md} {
      max-height: 45px;
      -webkit-line-clamp: 2;
    }

    @media #{$xs} {
      max-height: 39px;
      -webkit-line-clamp: 3;
      line-height: 13px;
    }
  }

  &__img {
    width: 100%;
    height: 375px;
    @include cover-background;

    &_size_sm {
      height: 250px;
    }

    @media #{$md} {
      height: 270px;
    }

    @media #{$xs} {
      height: 217px;
    }
  }

  &__properties {
    margin-top: 14px;
    min-height: 54px;

    @media #{$sm} {
      display: none;
    }
  }

  &__price {
    margin-top: 14px;
    font-weight: 700;

    @media #{$sm} {
      margin-top: 8px;
    }

    &_discount {
      @include flexbox;
      @include flex-wrap(wrap);

      @media #{$xs} {
        flex-direction: column;
      }

      .total-price {
        color: $active-orange;
      }

      .discount-label {
        margin-left: 5px;

        @media #{$xs} {
          margin-left: 0;
          margin-top: 5px;
        }

        &__img {

          @media #{$sm} {
            width: 18px !important;
          }
        }

        &__price {
          @media #{$sm} {
            font-size: 1.2rem;
            font-weight: 400;
            text-decoration: line-through;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
          }
        }
      }
    }

    .total-price {

      @media #{$xs} {
        font-size: 1.2rem;
      }
    }
  }

  &__content {
    padding: 15px 20px 65px;
    font-size: 1.6rem;

    @media #{$sm} {
      padding-bottom: 48px;
    }

    @media #{$xs} {
      padding-bottom: 40px;
      font-size: 1.2rem;
    }

    @media #{$xxs} {
      padding: 10px 10px 40px 10px;
      font-size: 1.2rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: 84%;

    @media #{$md} {
      width: 81%;
    }

    @media #{$sm} {
      bottom: 10px;
      width: 82%;
    }

    @media #{$xxs} {
      left: 10px;
    }
  }

  &__button {
    flex-basis: 100%;

    .button {
      padding: 0 27px;

      @media #{$lg} {
        min-width: 100%;
      }

      @media #{$md} {
        padding: 0 7px;
      }

      &_size_sm {

        @media #{$xs} {
          min-height: 22px;
          height: 22px;
        }
      }
    }

    &-add {
      @media #{$sm} {
        display: none;
      }
    }

    &-buy {
      display: none;

      @media #{$sm} {
        display: inline-flex;
      }
    }
  }

  &__btn-more {
    margin-top: 11px;
    margin-left: 15px;

    img {

      @media #{$xs} {
        width: 18px;
      }
    }

    @media #{$sm} {
      margin-top: 5px;
    }

    @media #{$xs} {
      margin-top: 2px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .add-counter {

    @media #{$lg} {
      min-width: 167.5px;
    }

    @media #{$md} {
      min-width: 128px;
    }

    @media #{$sm} {
      display: none;
    }

    &__btn {
      @media #{$lg} {
        width: 40px;
      }
    }

    &__num {
      @media #{$lg} {
        width: 35px;
      }
    }
  }

  // slider styles overwriting
  &__gallery {
    overflow: hidden;

    .slick-dots {
      bottom: 9px;

      li {
        width: 14px;
        @include slick-dots-custom-color($black, border, transparent, $black, 12);
      }
    }

    @include slick-arrows-inside(5);
  }
}

.products-group {
  @include cards-slide-fix;

  &__wrapper {
    display: flex !important;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 40px;

    @media #{$xs} {
      margin-bottom: 20px;
    }
  }

  &_column-3 {

    .products-group__item {
      margin-right: 6.5%;

      @media #{$lg} {
        margin-right: 3.5%;
      }

      $offset-right-md: 8%;
      $offset-right-xs: 4%;

      @media #{$md} {
        margin-right: $offset-right-md;
      }

      @media #{$xs} {
        margin-right: $offset-right-xs;
      }

      &:nth-child(3n) {
        margin-right: 0;

        @media #{$md} {
          margin-right: $offset-right-md;
        }

        @media #{$sm} {
          margin-right: 0;
        }

        @media #{$xsm} {
          margin-right: $offset-right-md;
        }

        @media #{$xs} {
          margin-right: $offset-right-xs;
        }
      }

      &:nth-child(2n) {

        @media #{$md} {
          margin-right: 0;
        }

        @media #{$sm} {
          margin-right: $offset-right-md;
        }

        @media #{$xsm} {
          margin-right: 0;
        }
      }
    }

    .product-card {
      width: 29%;

      @media #{$lg} {
        width: 31%;
      }

      @media #{$md} {
        width: 46%;
      }

      @media #{$sm} {
        width: 28%;
      }

      @media #{$xsm} {
        width: 46%;
      }

      @media #{$xs} {
        width: 48%;
      }

      &__content {

        @media #{$sm} {
          padding: 10px 10px 55px 10px;
        }

        @media #{$xsm} {
          padding-bottom: 45px;
        }

        @media #{$xs} {
          padding-bottom: 40px;
        }
      }

      &__bottom {

        @media #{$lg} {
          width: 80%;
        }
        
        @media #{$sm} {
          width: 85%;
          left: 10px;
        }
      }

      &__button {

        .button_size_md {

          @media #{$sm} {
            min-height: 30px;
          }

          @media #{$xxs} {
            min-height: 22px;
          }
        }
      }

      &__btn-more {

        @media #{$md} {
          margin-left: 14px;
        }

        @media #{$xs} {
          margin-left: 8px;
        }
      }
    }

  }

  &_column-4 {

    .products-group__item {
      margin-right: 4.6%;

      @media #{$lg} {
        margin-right: 5.3%;
      }

      &:nth-child(4n) {
        margin-right: 0;

        @media #{$lg} {
          margin-right: 5.3%;
        }
      }

      &:nth-child(3n) {

        @media #{$lg} {
          margin-right: 0;
        }

        @media #{$xsm} {
          margin-right: 5.3%;
        }
      }

      &:nth-child(2n) {

        @media #{$xsm} {
          margin-right: 0;
        }
      }
    }

    .product-card {
      width: 21.5%;

      @media #{$lg} {
        width: 29.8%;
      }

      @media #{$xsm} {
        width: 47%;
      }
    }
  }

  &_no-grid {

    .products-group__wrapper {

      @media #{$xs} {
        padding: 0 20px;
      }
    }

    .products-group__item {

      @media #{$xs} {
        margin-right: 0;
      }

      &:nth-child(3n) {

        @media #{$xs} {
          margin-right: 0;
        }
      }

      &:nth-child(2n) {

        @media #{$xs} {
          margin-right: 0;
        }
      }
    }

    .product-card {

      @media #{$xs} {
        width: 100%;
      }

      &__content {

        @media #{$xs} {
          padding: 15px 20px 65px;
          font-size: 1.6rem;
        }
      }

      &__properties {

        @media #{$xs} {
          display: block;
        }
      }

      &__title {

        @media #{$xs} {
          max-height: 42px;
          -webkit-line-clamp: 2;
          line-height: 21px;
        }
      }

      &__price {

        .total-price {
          @media #{$xs} {
            font-size: 1.6rem;
          }
        }
      }

      &__bottom {

        @media #{$xs} {
          bottom: 15px;
          left: 20px;
          width: 90%;
        }

        @media #{$xxs} {
          width: 88%;
        }
      }

      &__button {

        .button_size_md {

          @media #{$xs} {
            min-height: 40px;
          }
        }

        &-add {
          @media #{$xs} {
            display: block;
          }
        }

        &-buy {

          @media #{$xs} {
            display: none;
          }
        }
      }

      &__btn-more {

        @media #{$xs} {
          margin-top: 11px;
          margin-left: 15px;
        }

        img {

          @media #{$xs} {
            width: auto;
          }
        }
      }

      &__img {

        @media #{$xs} {
          height: 375px;
        }

        &_size_sm {
          @media #{$xs} {
            height: 250px;
          }
        }
      }

      .add-counter {
        @media #{$xs} {
          min-width: 170px;
        }

        &__btn {
          @media #{$xs} {
            width: 45px;
          }
        }

        &__num {
          @media #{$xs} {
            width: 46px;
          }
        }
      }
    }
  }

  &_look-books {

    .product-card {

      &__content {
        padding-bottom: 15px;

        @media #{$xs} {
          padding-bottom: 10px;
        }
      }
    }
  }
}

#products-group-controls {
  position: relative;
  bottom: 46px;
  margin-bottom: 20px;
}