.products-group {
  @include cards-slide-fix;

  &__wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  &__item {
    margin-right: 56px;
    margin-bottom: 40px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &_column-4 {

    .products-group__item:nth-child(3n) {
      margin-right: 56px;
    }

    .products-group__item:nth-child(4n) {
      margin-right: 0;
    }
  }
}

#products-group-controls {
  position: relative;
  bottom: 46px;
  margin-bottom: 20px;
}

.product-card {
  box-shadow: $base-shadow;
  border-radius: 5px 5px 30px;
  background-color: #ffffff;
  display: inline-block;
  float: left;
  @include shift(ease-in-out);
  width: 250px;

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-weight: 500;
    min-height: 42px;
    max-height: 42px;
    line-height: 21px;
    @include ellipsis(2);
  }

  &__img {
    width: 100%;
    height: 375px;
    @include cover-background;

    &_size_sm {
      height: 250px;
    }
  }

  &__properties {
    margin-top: 14px;
    min-height: 54px;
  }

  &__price {
    margin-top: 14px;
    font-weight: 700;

    &_discount {
      @include flexbox;

      .total-price {
        color: $active-orange;
      }

      .discount-label {
        margin-left: 5px;
      }
    }
  }

  &__content {
    padding: 15px 20px;
    font-size: 16px;
  }

  &__bottom {
    margin-top: 14px;
    display: flex;
  }

  &__button {
    float: left;

    .button {
      padding: 0 27px;
    }
  }

  &__btn-more {
    float: left;
    margin-top: 11px;
    margin-left: 15px;
  }

  // slider styles overwriting
  &__gallery {
    overflow: hidden;

    .slick-dots {
      bottom: 9px;

      li {
        width: 14px;
        @include slick-dots-custom-color($black, border, transparent, $black, 12);
      }
    }

    @include slick-arrows-inside(5);
  }
}

@media #{$lg} {
  @import "media/lg";
}

@media #{$md} {
  @import "media/md";
}