.products-group {

  &__wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
  }

  &__item {
    margin-right: 56px;
    margin-bottom: 40px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &_column-4 {

    .products-group__item:nth-child(3n) {
      margin-right: auto;
    }

    .products-group__item:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.product-card {
  box-shadow: $base-shadow;
  border-radius: 5px 5px 30px;
  background-color: #ffffff;
  display: inline-block;
  @include shift(ease-in-out);
  width: 250px;

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  }

  &__title {
    font-weight: 500;
    min-height: 42px;
    max-height: 42px;
    line-height: 21px;
    @include ellipsis(2);
  }

  &__img {
    width: 100%;
    height: 375px;
    @include cover-background;

    &_size_sm {
      height: 250px;
    }
  }

  &__properties {
    margin-top: 14px;
    min-height: 54px;
  }

  &__price {
    margin-top: 14px;
    font-weight: 700;

    &_discount {
      @include flexbox;

      .discount-label {
        margin-left: 5px;
      }
    }
  }

  &__content {
    padding: 15px 20px;
    font-size: 16px;
  }

  &__bottom {
    margin-top: 14px;
    display: flex;
  }

  &__button {
    float: left;

    .button {
      padding: 0 27px;
    }
  }

  &__btn-more {
    float: left;
    margin-top: 11px;
    margin-left: 15px;
  }

  // slider styles overwriting
  &__gallery {
    overflow: hidden;

    .owl-dots {
      width: 100%;
      @include center(horizontal);
      bottom: 35px;

      .owl-dot {

        span {
          width: 12px;
          height: 12px;
          background: transparent;
          border: 2px solid #000000;
        }

        &.active span, &:hover span{
          background: #000;
        }
      }
    }
/*
    .owl-nav {
      width: 100%;
      position: absolute;
      bottom: 44%;
    }

    .nav-btn {
      height: 14px;
      position: absolute;
      width: 8px;
      cursor: pointer;
    }

    .owl-prev.disabled,
    .owl-next.disabled{
      pointer-events: none;
      opacity: 0.2;
    }

    .prev-slide{
      background: url("/images/icons/slider/arrow-left.svg") no-repeat;
      left: 8px;
    }
    .next-slide{
      background: url("/images/icons/slider/arrow-right.svg") no-repeat;
      right: 8px;
    }*/
  }
}