//? set your brand colors
$white: #fff;
$black: #000;
$black-soft: #343434;
$black-bg: #606060;
$pink-bg: #ffeee2;
$active-orange: #fa6400;
// text colors
$text-cursive: italic;
$text-finished: #6236ff;
$text-unfinished: #f7b500;
$text-intention: #676767;
$text-primary: #0091ff;
$text-success: #6dd400;
$text-revert: #e02020;
$text-warning: #fa6400;
// placeholder
$placeholder-color: #898989;
// base-shadow
$base-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
// font-weight
$medium-weight: 500;

