.total-price {
  font-weight: 700;
  font-size: 2.4rem;

  &_size_md {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  &_size_sm {
    font-size: 1.4rem;
  }

  &_size_xs {
    font-size: 1.2rem;
  }

  &_weight_extra-bold {
    font-weight: 900;
  }

  &_mode_on-sale {
    color: #fa6400;
  }

  &_indent-bottom {

    &_sm {
      margin-bottom: 12px;
    }
  }
}