.total-price {
  font-weight: 700;
  font-size: 2.4rem;

  &_size_lg {
    font-size: 1.8rem;
  }

  &_size_md {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  &_size_sm {
    font-size: 1.4rem;
  }

  &_size_xs {
    font-size: 1.2rem;
  }

  &_weight_extra-bold {
    font-weight: 900;
  }
}