.form-group {
  $super-parent: &;


  &__items {

    &_row {
      #{$super-parent}__item {
        display: block;
        margin-right: 0;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    margin-right: 17px;

    @media #{$xs} {
      width: 100%;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    vertical-align: top;

    @media #{$xxs} {
      width: 100%;
    }
  }

  &_indent-bottom {

    &_lg {
      margin-bottom: 40px;
    }

    &_md {
      margin-bottom: 30px;
    }

    &_sm {
      margin-bottom: 20px;
    }
  }
}

.form-item {


  &__label {
    display: block;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__content {
    min-height: 30px;

    &-left {
      @include inline-flex;
      margin-right: 10px;
      vertical-align: middle;

      @media #{$lg} {
        margin-right: 0;
      }

      @media #{$xs} {
        display: block;
      }
    }

    .button {
      margin-left: 8px;

      @media #{$xxs} {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    .form-note {
      @media #{$lg} {
        margin-top: 10px;
      }

      @media #{$xs} {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    font-size: 1.2rem;
    font-weight: 500;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #3f3f3f;
    padding: 0 14px;

    &_widest {
      width: 100%;
    }

    &_wider {
      width: 210px;

      @media #{$xs} {
        width: 100%;
      }
    }

    &_wide {
      width: 190px;

      @media #{$xxs} {
        width: 100%;
      }
    }

    &_half {
      width: 96px;

      @media #{$xs} {
        width: 50%;
      }

      @media #{$xxs} {
        width: 100%;
      }
    }

    &_quarter {
      width: 80px;
      text-align: center;

      @media #{$xs} {
        width: 100%;
      }
    }
  }

  &__textarea {
    @extend .form-item__input;
    width: 440px;
    height: 95px;
    padding: 8px 15px;
    resize: none;
  }
}

.form-note {
  max-width: 211px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
  vertical-align: middle;

  @media #{$lg} {
    display: block;
  }

  &_status {
    &_success {
      color: #6dd400;
    }

    &_warning {
      color: #f7b500;
    }
  }

  &_type {

    &_link {
      color: #1e1e1e;
      font-style: normal;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }
  }

  &_font {

    &_md {
      font-size: 14px;
    }
  }

  @media #{$xs} {
    max-width: 100%;
  }
}

.form-info {
  color: $black;
  font-size: 1.2rem;
  line-height: 16px;

  &_indent {

    &-top {
      margin-top: 5px;
    }

    &-bottom {
      margin-bottom: 25px;
    }
  }
}