.text-action {
  text-decoration: underline;
  font-style: italic;

  &:hover {
    opacity: .84;
  }

  &_repeat {
    color: #fa6400;
  }

  &_intention {
    color: #676767;
  }

  &_revert {
    color: #e02020;
  }

  &_indent_left {
    margin-left: 11px;
  }

  &_no-underline {
    text-decoration: none;
  }
}