.button {
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);
  box-shadow: $base-shadow;
  border-radius: 3px;
  background-color: #606060;
  color: #fff;
  font-weight: 500;
  min-width: 107px;
  min-height: 30px;
  font-size: 1.4rem;
  border: 0;
  cursor: pointer;
  padding: 0 15px;
  @include shift(ease-in-out, 256ms);
  position: relative;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: .84;
  }

  &_theme_white {
    background-color: $white;
    color: $black;
  }

  &_theme_orange {
    background-color: $active-orange;
    color: $white;
  }

  &_theme_no-shadow {
    box-shadow: none;
    border: 1px solid #323232;
  }

  &_thin {
    font-weight: 400;
  }

  &_border-r_lg {
    border-radius: 8px;
  }

  &_size_lg {
    min-height: 46px;

    &::after {
      padding-top: 30%;
    }
  }

  &_size_md {
    min-width: 170px;
    min-height: 40px;
  }

  &_size_sm {
    min-height: 30px;
  }

  &_font_lg {
    font-size: 1.6rem;
  }

  &_font_md {
    font-size: 1.4rem;
  }

  &_font_sm {
    font-size: 1.2rem;
  }

  &__icon {
    margin-left: 11px;

    &_pos_right {
      margin-left: 0;
      margin-right: 11px;
    }
  }

  &_padding_sm {
    padding: 0 14px;
  }

  &_aligned-center {
    margin: 0 auto;
  }

  &_indent-top {
    margin-top: 20px;
  }

  &_indent-bottom {
    margin-bottom: 20px;

    &-sm {
      margin-bottom: 15px;
    }

    &-md {
      margin-bottom: 30px;
    }
  }

  &_type_link {
    min-width: initial;
    border: none;
    box-shadow: none;
    background: transparent;
    text-decoration: underline;
    height: auto;
    min-height: auto;
    color: #000000;
    padding: 0;

    .button__icon {

      &_pos_right {
        margin-right: 8px;
      }

      &_comment {
        width: 18px;
      }
    }

    &-no-decoration {
      text-decoration: none;
    }
  }

  &_type_expand {
    min-width: 46px;
    min-height: 38px;
    border-radius: 5px;
    border: none;
    padding: 0;
    @include shift(ease-in-out, 200ms);

    .button__icon {
      margin: 0;
    }

    &:hover {
      box-shadow: $base-shadow;
      opacity: 1;
    }
  }

  &_type_block {
    @include flexbox;
  }

  &_type_show-more {

    @media #{$sm} {
      min-height: 36px;
      font-size: 1.4rem;
      box-shadow: none;
      border: 1px solid #606060;
      border-radius: 25px;
      width: 100% ;
      max-width: 290px;
    }
  }

  &-basket {

    .button__icon {

      @media #{$sm} {
        margin-top: 1px;
      }
    }

    &--active-dot {
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 2px;
        background-color: #fa741b;
        position: absolute;
        top: -1px;
        right: -7px;
      }
    }

    .button__icon {
      margin-top: 1px;
    }
  }

  &_color_orange {
    color: $active-orange;
  }
}

// delivery btn
.delivery-btn-group {
  @include flexbox;
  @include flex-wrap(wrap);

  &__item {
    display: inline-block;
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:nth-child(2n) {
      @media #{$xxs} {
        margin-right: 0;
      }
    }
  }
}

.delivery-btn {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  color: #000000;
  font-size: 1.2rem;
  width: 140px;
  min-height: 95px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 15px 13px;
  cursor: pointer;

  &.checked {
    box-shadow: none;
    border: 2px solid #fa6400;
  }

  &__header {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
  }

  &__title {
    padding-top: 3px;
    margin-right: 7px;
    max-width: 83px;
    word-break: break-word;
  }

  &__address {

    span {
      display: inline-block;
      white-space: pre-line;
    }
  }

  &__price {
    margin-top: 10px;
  }

  &__date {
    margin-top: 5px;
  }
}