.button {
  @include inline-flex;
  @include align-items(center);
  @include justify-content(center);
  box-shadow: $base-shadow;
  border-radius: 3px;
  background-color: #606060;
  color: #fff;
  font-weight: 500;
  min-width: 107px;
  min-height: 30px;
  border: 0;
  cursor: pointer;
  padding: 0 19px;
  @include shift(ease-in-out, 256ms);
  position: relative;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: .84;
  }

  // Ripple Effect
 /* &::after {
    content: "";
    background: #c5bfbf;
    display: block;
    position: absolute;
    padding-top: 23%;
    padding-left: 100%;
    margin-left: -22px !important;
    margin-top: 0;
    opacity: 0;
    transition: all 0.4s;
  }

  &:active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }*/

  &_theme_white {
    background-color: #fff;
    color: $black;
  }

  &_theme_no-shadow {
    box-shadow: none;
    border: 1px solid #323232;
  }

  &_border-r_lg {
    @include prefix(border-radius, 8px);
  }

  &_size_lg {
    min-height: 46px;
    height: 46px;

    &::after {
      padding-top: 30%;
    }
  }

  &_size_md {
    min-width: 170px;
    min-height: 40px;
    height: 40px;
  }

  &_size_sm {
    min-height: 30px;
    height: 30px;
  }

  &_width_md {
    min-width: 170px;
  }

  &_font_lg {
    font-size: 1.6rem;
  }

  &_font_md {
    font-size: 1.4rem;
  }

  &_font_sm {
    font-size: 1.2rem;
  }

  &__icon {
    margin-left: 11px;

    &_pos_right {
      margin-left: 0;
      margin-right: 11px;
    }
  }

  &_padding_sm {
    padding: 0 14px;
  }

  &_type_link {
    min-width: initial;
    border: none;
    box-shadow: none;
    background: transparent;
    text-decoration: underline;
    height: auto;
    min-height: auto;
    color: #000000;
    padding: 0;

    .button__icon {
      width: 18px;

      &_pos_right {
        margin-right: 8px;
      }
    }
  }

  &_type_expand {
    min-width: 46px;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 0;
    @include shift(ease-in-out, 200ms);

    .button__icon {
      margin: 0;
    }

    &:hover {
      box-shadow: $base-shadow;
      opacity: 1;
    }
  }

  &-add-js {

    &.show-counter {

      .add-counter {
        display: inline-flex;
        opacity: 1;
      }

      .button {
        display: none;
      }
    }
  }
}

// delivery btn
.delivery-btn-group {
  @include flexbox;
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-bottom: 11px;

  &__item {
    margin-bottom: 10px;

    &_blank {
      visibility: hidden;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.delivery-btn {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  color: #000000;
  font-size: 1.2rem;
  width: 140px;
  min-height: 95px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 15px 13px;
  cursor: pointer;

  &.checked {
    box-shadow: none;
    border: 2px solid #fa6400;
  }

  &__header {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
  }

  &__title {
    padding-top: 3px;
    margin-right: 7px;
  }

  &__address {

    span {
      display: inline-block;
      white-space: pre-line;
    }
  }

  &__price {
    margin-top: 10px;
  }

  &__date {
    margin-top: 5px;
  }
}