.catalog-view {

  &__item {
    @include flexbox;
    margin-bottom: 15px;

    @media #{$lg} {
      @include flex-wrap(wrap);
    }
  }

  &__column {
    width: 300px;

    @media #{$lg} {
      width: 250px;
    }

    @media #{$md} {
      width: 100%;
    }

    &_lg {
      width: 457px;

      @media #{$lg} {
        width: 350px;
      }

      @media #{$md} {
        width: 100%;
      }
    }

    &_pos_right {
      margin-left: 15px;

      @media #{$md} {
        margin-left: 0;
      }
    }

    &_pos_left {
      margin-right: 15px;

      @media #{$md} {
        margin-right: 0;
      }
    }
  }

  &__img {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;

    &_size_lg {
      height: 616px;

      @media #{$lg} {
        height: 515px;
      }

      @media #{$md} {
        height: 457px;
        margin-bottom: 15px;
      }

      @media #{$xsm} {
        height: 300px;
      }
    }

    &_size_md {
      height: 457px;

      @media #{$xsm} {
        height: 300px;
      }
    }

    &_size_sm {
      height: 300px;

      @media #{$lg} {
        height: 250px;
      }
    }

    &_size_xs {
      height: 142px;

      @media #{$lg} {
        height: 192px;
      }
    }

    &_pos_bottom {
      margin-top: 15px;


      @media #{$md} {
        margin-bottom: 15px;
      }
    }

    img {
      border-radius: 8px;
      width: 100%;
    }
  }
}