.products-group {
  $right-offset: 30px;

  &__item {
    margin-right: $right-offset;

    &:nth-child(3n) {
      margin-right: $right-offset;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &_column-4 {
    $right-offset: 40px;

    .products-group__item {
      margin-right: $right-offset;

      &:nth-child(2n){
        margin-right: $right-offset;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-right: $right-offset;
      }
    }
  }
}

.product-card {

  &__title {
    min-height: 22px;
    max-height: 22px;
    -webkit-line-clamp: 1;
  }
}