.product-selection {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;

  tr {

    td {
      padding-right: 10px;

      &:first-child {
        width: 130px;
      }
    }
  }

  &_size_sm {
    line-height: 16px;

    tr td:first-child {
      width: 66px;
    }
  }

  &__color {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 6px;
    width: 12px;
    height: 12px;
    border-radius: 2px;
  }
}