.menu-dropdown {
  position: relative;

  &:hover {

    .menu-dropdown__content {
      display: block;
    }

    .nav-menu__item {
      color: $active-orange;
    }
  }

  &__item {
    display: block;
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.current:after{
      content: unset;
    }
  }

  &__content {
    min-width: 175px;
    display: none;
    position: absolute;
    left: -50%;
    top: 24px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
  }
}