.filter-radio {

  &__item {
    margin-bottom: 10px;
  }

  &__label {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #000;
      border-radius: 100%;
      background: #fff;
    }

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background-color: #fa6400;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }

  &__input {

    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    &:checked + .filter-radio__label {
      font-weight: 500;
    }

    &:not(:checked) + .filter-radio__label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }

    &:checked + .filter-radio__label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}