.filter-radio {

  &__item {

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &_indent-bottom {

    &_lg {
      margin-bottom: 25px;
    }

    &_md {
      margin-bottom: 15px;
    }

    &_sm {
      margin-bottom: 10px;
    }
  }
}