.contacts {
  width: auto;
  margin-right: 25px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &__icon {
    height: 20px;
  }

  &__item {
    @include flexbox;
    width: auto;
    margin: 0 auto 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}