.substrate {
  z-index: 1;
  position: relative;

  &__item {
    border-radius: 30px;
    width: 1600px;
    background-color: #ffeee2;
    position: absolute;
    z-index: -1;
    top: 30px;
  }

  &__sm {

    .substrate__item {
      height: 323px;
    }

    &_left .substrate__item{
      transform: translateX(-70%);
    }

    &_right .substrate__item {
      transform: translateX(3%);
      top: 44px;
    }
  }

  &__lg {

    .substrate__item {
      height: 471px;
    }

    &_left .substrate__item {
      transform: translateX(-66%);
    }

    &_right .substrate__item {
      transform: translateX(38%);
    }

    &_header .substrate__item{
      transform: translate(21%, -42%);
    }
  }

  &_with-slider .substrate__item {
    height: 805px;
    transform: translate(21%, -15%);
  }

  #info-cards-controls {
    bottom: 12px;
  }
}

@media #{$lg} {
  @import "media/lg";
}

@media #{$md} {
  @import "media/md";
}
