.substrate {
  z-index: 1;
  position: relative;

  &__item {
    border-radius: 30px;
    width: 200%;
    background-color: #ffeee2;
    position: absolute;
    z-index: -1;
    top: 30px;
  }

  &__sm {

    .substrate__item {
      height: 323px;

      @media #{$xs} {
        height: 540px;
      }

      @media #{$xxs} {
        height: 590px;
      }
    }

    &_left .substrate__item{
      margin-left: -109%;
    }

    &_right .substrate__item {
      margin-left: 7%;
      top: 44px;

      @media #{$xxs} {
        height: 560px;
        margin-left: 4%;
        top: 37px;
      }
    }
  }

  &__lg {

    &_left .substrate__item {
      margin-left: -105%;
    }

    &_right .substrate__item {
      margin-left: 5%;
    }

    &_header .substrate__item{
      margin-left: 25%;
      margin-top: -170px;
      top: 0;

      @media #{$sm} {
        display: none;
      }
    }
  }

  &_with-slider .substrate__item {
    margin-left: 28%;
    margin-top: -130px;

    @media #{$lg} {
      margin-left: 27%;
    }

    @media #{$md} {
      margin-left: 25%;
    }

    @media #{$sm} {
      display: none;
    }
  }

  .custom-controls--info-card {
    bottom: 12px;

    @media #{$xs} {
      bottom: 17px;
    }
  }
}
