[data-popper-el] {
  position: relative;

  [data-popper-el-button] {
    margin-left: 5px;
    margin-top: -1px;
    cursor: pointer;
  }
}

[data-popper-el-content] {
  display: none;

  &[data-show] {
    display: block;
  }
}

.popper {
  max-width: 600px;
  min-width: 600px;
  padding: 10px 20px 20px;
  background: #fff;
  box-shadow: 0 7px 19px -2px rgba(0, 0, 0, 0.23);
  z-index: 1000;
  border-radius: 5px;
  $size: 10;

  @media #{$xsm} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
    min-width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &[data-popper-escaped] {
    visibility: hidden;
    pointer-events: none;
  }

  &[data-popper-placement^='top'] > .popper__arrow {
    bottom: -#{$size / 2}px;
  }

  &[data-popper-placement^='bottom'] > .popper__arrow {
    top: -#{$size / 2}px;
  }

  &[data-popper-placement^='left'] > .popper__arrow {
    right: -#{$size / 2}px;
  }

  &[data-popper-placement^='right'] > .popper__arrow {
    left: -#{$size / 2}px;
  }

  &__close-btn {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    padding: 0;

    &:hover {
      color: indianred;
    }

    img {
      margin-left: 5px;
    }
  }

  &__wrapper {

    @media #{$xsm} {
      background-color: #fff;
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__arrow {
    visibility: hidden;

    @media #{$xsm} {
      display: none;
    }

    &, &::before {
      position: absolute;
      width: #{$size}px;
      height: #{$size}px;
      background: inherit;
    }

    &::before {
      visibility: visible;
      content: '';
      transform: rotate(45deg);
    }
  }

  .dual-block {

    @media #{$md} {
      flex-wrap: nowrap;
    }

    @media (max-width: 480px) {
      flex-wrap: wrap;
    }

    &__item {
      flex-grow: 1;
      margin-bottom: 0;

      &:first-child {
        width: calc(100% - 315px);

        @media #{$xsm} {
          width: calc(100% - 210px);
        }

        @media (max-width: 480px) {
          width: 100%;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;

        @media (max-width: 480px) {
          margin-right: 0;
        }
      }

      &:last-child {
        @media (max-width: 480px) {
          margin-bottom: 0;
        }
      }
    }
  }

  .product-view_small .product-view__full {
    width: 100%;
  }

  .pattern-group {
    max-height: 315px;
    height: 100%;
    overflow-y: auto;

    @media (max-width: 480px) {
      max-height: 170px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }

    @media (max-width: 414px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .pattern-item {
    width: 84px;
    height: auto;
    text-align: center;

    &:not(:last-child) {
      margin-right: 2px;
    }

    @media (max-width: 480px) {
      margin-right: 0 !important;
    }
  }

  .button_indent-top {

    @media (max-width: 639px) {
      margin-top: 20px;
    }

    @media (max-width: 480px) {
      margin-top: 30px;
    }
  }
}


