.info-block {
  @include flexbox;
  color: $black;
  line-height: 24px;
  margin-bottom: 57px;

  @media #{$xsm} {
    @include flex-direction(column);
  }

  &:not(:last-child) {
    margin-bottom: 50px;

    @media #{$xsm} {
      margin-bottom: 25px;
    }
  }

  &__item {
    width: 50%;

    @media #{$xsm} {
      width: 100%;
    }

    &--first-order {
      @media #{$xsm} {
        order: -1;
      }
    }
  }

  &__img {
    height: 330px;
    width: 100%;
    overflow: hidden;
    border-radius: 30px;

    @media #{$lg} {
      height: 250px;
    }

    @media #{$md} {
      height: 200px;
    }

    @media #{$xxs} {
      height: 169px;
    }

    img {
      width: 100%;
    }
  }

  &__des {
    $padding-offset: 60px;
    $padding-offset--md: 30px;

    font-size: 1.4rem;
    padding-right: $padding-offset;
    padding-top: 18px;

    @media #{$md} {
      padding-right: $padding-offset--md;
    }

    @media #{$xsm} {
      margin-bottom: 25px;
      padding-right: 0;
      padding-top: 0;
    }

    p:not(:last-child){
      margin-bottom: 30px;

      @media #{$md} {
        margin-bottom: 15px;
      }
    }

    &_position_right {
      padding-right: 0;
      padding-left: $padding-offset;

      @media #{$md} {
        padding-left: $padding-offset--md;
      }

      @media #{$xsm} {
        padding-left: 0;
      }
    }
  }

  &__statement {
    padding: 15px 55px 20px 10%;

    @media #{$md} {
      padding-right: 55px;
    }

    @media #{$xsm} {
      padding-right: 5px;
    }

    p {
      width: 80%;
    }
  }
}
