.info-block {
  @include flexbox;
  color: $black;
  line-height: 24px;
  margin-bottom: 57px;

  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &__item {
    width: 50%;
  }

  &__img {
    width: 100%;
    overflow: hidden;
    @include prefix(border-radius, 30px);

    img {
      width: 100%;
    }
  }

  &__des {
    $padding-offset: 60px;
    $padding-offset--md: 30px;

    font-size: 1.4rem;
    padding-right: $padding-offset;
    padding-top: 18px;

    @media #{$md} {
      padding-right: $padding-offset--md;
    }

    p:not(:last-child){
      margin-bottom: 30px;

      @media #{$md} {
        margin-bottom: 15px;
      }
    }

    &_position_right {
      padding-right: 0;
      padding-left: $padding-offset;

      @media #{$md} {
        padding-left: $padding-offset--md;
      }
    }
  }

  &__statement {
    padding: 15px 55px 20px;

    @media #{$md} {
      padding: 15px 20px 20px 35px;
    }

    p {
      width: 80%;
    }
  }
}