.workview {
  @include flexbox;
  margin-bottom: 40px;

  &__item {

    &:not(:last-child) {
      margin-right: 15px;

      @media (max-width: 414px) {
        margin-right: 0;
      }
    }
  }

  &-column {

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    @media #{$md} {
      display: none;
    }

    @media (max-width: 720px) {
      display: block;
    }

    @media (max-width: 424px) {
      display: none;
    }
  }

  &-row {
    @include flexbox;

    &__item:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__img {
    overflow: hidden;
    border-radius: 8px;
    width: 300px;
    height: 300px;

    @media (max-width: 719px) {
      width: 290px;
    }

    img {
      border-radius: 8px;
      width: 100%;
    }

    &_size {

      &_lg {
        width: 436px;

        @media #{$md} {
          width: 386px;
        }
      }

      &_md {

        &-half {
          height: 142px;

          @media (max-width: 719px) {
            height: 147px;
          }
        }
      }

      &_sm {
        width: 142px;
        height: 142px;

        @media (max-width: 719px) {
          width: 138px;
          height: 138px;
        }
      }

      &_xs {
        width: 90px;
        height: 90px;
      }
    }

    &_pos_bottom {
      margin-top: 15px;
    }
  }
}