.add-counter {
  display: none;
  opacity: 0;
  min-width: 170px;
  @include justify-content(space-between);
  @include align-items(center);
  height: 40px;
  @include shift;
  transition-delay: 60ms;

  &__btn {
    @include inline-flex;
    @include justify-content(center);
    @include align-items(center);
    width: 45px;
    height: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.38);
    border-radius: 3px;
    background-color: #606060;
    cursor: pointer;

    img {
      width: auto !important;
      pointer-events: none;
      user-select: none;
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
    }
  }
  
  &__num {
    width: 46px;
    border: none;
    text-align: center;
    padding: 0 5px;
  }

  &_thin {
    display: flex;
    opacity: 1;
     min-width: initial;
     justify-content: flex-start;
     height: auto;

    .add-counter__btn {
       width: auto;
       height: auto;
       box-shadow: none;
       background-color: transparent;
    }

    .add-counter__num {
      width: 65px;
      margin: 0 10px;
      background: none;
    }
  }
}