.info-cards_with-substrate {

  .owl-nav.disabled + .owl-dots, .owl-dots {
    position: relative;
    top: -8px;
    margin-top: 0;
  }
}

.info-card {
  @include prefix(border-radius, 30px);
  @include prefix(box-shadow, $base-shadow);
  height: 290px;
  background: #fff;
  margin-bottom: 33px;
  overflow: hidden;

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    @include ellipsis(4);
  }

  &__img {
    width: 50%;
    height: 290px;
    float: left;
    @include cover-background;
  }

  &__content {
    width: 50%;
    float: right;
    padding: 30px;
    background-color: #ffffff;
  }

  &__des {
    color: $black;
    font-size: 1.4rem;
    margin-top: 15px;
    line-height: 16px;
    @include ellipsis(5);

    &_mode_active {
      @include flexbox;
      @include justify-content(space-between);
      color: $active-orange;
      font-weight: 700;

      p {
        width: 90%;
      }
    }
  }

  &__bottom {
    margin-top: 24px;
  }
}