.info-card {
  border-radius: 30px;
  @include prefix(box-shadow, $base-shadow);
  height: 290px;
  background: #fff;
  margin-bottom: 60px;
  overflow: hidden;

  @media #{$xs} {
    height: auto;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    @include ellipsis(4);
  }

  &__img {
    width: 50%;
    height: 290px;
    float: left;
    @include cover-background;

    @media #{$md} {
      width: 34%;
    }

    @media #{$xs} {
      width: 100%;
    }
  }

  &__content {
    height: 100%;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    float: right;
    padding: 30px;
    background-color: #ffffff;

    @media #{$lg} {
      padding: 20px 18px;
    }

    @media #{$md} {
      width: 66%;
      padding: 28px 40px 28px 30px;
    }

    @media #{$xs} {
      width: 100%;
      border-top: 5px solid #fa6400;
      padding-top: 18px;
      padding-bottom: 24px;
    }
  }

  &__des {
    color: $black;
    font-size: 1.4rem;
    margin-top: 15px;
    line-height: 16px;
    @include ellipsis(5);

    &_mode_active {
      @include flexbox;
      @include justify-content(space-between);
      color: $active-orange;
      font-weight: 700;

      p {
        width: 90%;
      }
    }
  }

  &__bottom {
    margin-top: 24px;

    img {
      width: auto !important;
    }
  }
}