.owl-carousel .owl-stage-outer {
  padding: 14px 11px;
  margin: -14px -11px;
}

.owl-carousel .owl-item img {
  max-width: 100%;
}

.owl-theme .owl-dots .owl-dot span{
  background: #000000;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fa6400;
}