.main-title {
  font-weight: 500;
  font-size: 2.4rem;
  @include flexbox;
  @include align-items(center);
  min-height: 10px;

  @media #{$xs} {
    font-size: 1.8rem;
    @include justify-content(center);
  }

  &_type {

    &_thin {
      font-weight: 400;
    }
  }

  &_size_lg {
    font-size: 1.8rem;
  }

  &_size_md {
    font-size: 1.6rem;
  }

  &_size_sm {
    font-size: 1.4rem;
  }

  &_size_xs {
    font-size: 1.2rem;
  }

  &__external-item {
    margin-left: auto;
  }

  &_aligned-left {
    @include justify-content(left);
  }
}