.main-title {
  font-weight: 500;
  font-size: 2.4rem;
  @include flexbox;
  @include align-items(center);
  min-height: 10px;

  @media #{$xs} {
    font-size: 1.8rem;
    @include justify-content(center);
  }

  &_type {

    &_thin {
      font-weight: 400;
    }
  }

  &_size_md {
    font-size: 1.6rem;
  }

  &_size_sm {
    font-size: 1.4rem;
  }

  &_size_xs {
    font-size: 1.2rem;
  }

  &_indent-bottom {
    margin-bottom: 25px;

    @media #{$xs} {
      margin-bottom: 20px;
    }

    &_md {
      margin-bottom: 20px;
    }

    &_sm {
      margin-bottom: 10px;
    }
  }

  &_with-item {
    justify-content: space-between;
  }

  &_aligned-left {
    @include justify-content(left);
  }
}